#####################################################################################
#                                                                                   #
#    Copyright 2012 Charité Universitätsmedizin Berlin, Institut für Radiologie     #
#                                                                                   #
#	 This file is part of KardioPerfusion.                                      #
#                                                                                   #
#    KardioPerfusion is free software: you can redistribute it and/or modify        #
#    it under the terms of the GNU General Public License as published by           #
#    the Free Software Foundation, either version 3 of the License, or              #
#    (at your option) any later version.                                            #
#                                                                                   #
#    KardioPerfusion is distributed in the hope that it will be useful,             #
#    but WITHOUT ANY WARRANTY; without even the implied warranty of                 #
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                  #
#    GNU General Public License for more details.                                   #
#                                                                                   #
#    You should have received a copy of the GNU General Public License              #
#    along with KardioPerfusion.  If not, see <http://www.gnu.org/licenses/>.       #
#                                                                                   #
#    Diese Datei ist Teil von KardioPerfusion.                                      #
#                                                                                   #
#    KardioPerfusion ist Freie Software: Sie können es unter den Bedingungen        #
#    der GNU General Public License, wie von der Free Software Foundation,          #
#    Version 3 der Lizenz oder (nach Ihrer Option) jeder späteren                   #
#    veröffentlichten Version, weiterverbreiten und/oder modifizieren.              #
#                                                                                   #
#    KardioPerfusion wird in der Hoffnung, dass es nützlich sein wird, aber         #
#    OHNE JEDE GEWÄHRLEISTUNG, bereitgestellt; sogar ohne die implizite             #
#    Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK.     #
#    Siehe die GNU General Public License für weitere Details.                      #
#                                                                                   #
#    Sie sollten eine Kopie der GNU General Public License zusammen mit diesem      #
#    Programm erhalten haben. Wenn nicht, siehe <http://www.gnu.org/licenses/>.     #
#                                                                                   #
#                                                                                   #
#####################################################################################

*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.vcxproj
*.filters
*.cmake
*.sln
CMakeCache.txt
CMakeFiles/
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Qt
moc_*
ui_*
qrc_*
*.qrc.depends

#Doxygen
documentation/
Doxyfile

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#CSharp
[Oo]bj
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad

#Time Attenuation Curves
*.tac

#Dicom Images
*.dcm

#Perfusion Project
*.perfproj

#git merging files
*.orig

#class diagram
*.cd

#misc
*.csv
*.png
/.kdev4
*.kdev4
